Repository kennarddh/dostyle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

.lintstagedrc.json:

{
	"example//**/*.{ts,tsx,json}": ["prettier -w", "eslint --fix"],
	"packages/**/*.{ts,tsx,json}": ["prettier -w", "eslint --fix"],
	"*.md": "prettier -w"
}

chore: Install example
  example/package-lock.json
Due: none

chore: Change git repo
  package.json
Due: none

feat: Example global styles
  example/src/Styles.css
  example/src/Styles.tsx
  example/src/index.tsx
Due: none

chore: Workspaces
  package.json
Due: none

chore: Fix eslint and ts config
  .lintstagedrc.json
  example/.eslintrc.js
  example/tsconfig.node.json
  package-lock.json
  package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  packages/react/tsconfig.json
  tsconfig.json
  tsconfig.node.json
Due: prettier -w, eslint --fix

feat: React package
  example/src/App.tsx
  packages/react/src/index.ts
Due: prettier -w, eslint --fix

chore: Fix tsconfig build
  example/tsconfig.json
  packages/react/package.json
  tsconfig.json
Due: prettier -w, eslint --fix

feat: Parse template literal
  example/src/App.tsx
  packages/react/src/index.ts
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

chore: Build script
  package.json
Due: none

feat: Basic runtime css in js
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat: Display name
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

refactor: Remove comment
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat: As prop
  example/src/App.tsx
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat: Custom props
  example/src/App.tsx
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat(react): Proxy
  example/src/App.tsx
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

refactor(react): Fix wrong function name
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

refactor(react): Remove unused proxy param
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat(utils): Package
  package-lock.json
  packages/react/src/index.tsx
  packages/utils/.eslintrc.js
  packages/utils/package.json
  packages/utils/src/index.tsx
  packages/utils/tsconfig.json
  tsconfig.json
Due: prettier -w, eslint --fix

refactor(react): Utils dependency
  package-lock.json
  packages/react/package.json
  packages/react/tsconfig.json
Due: prettier -w, eslint --fix

chore: LICENSE
  LICENSE
Due: none

chore: Install lerna
  package-lock.json
  package.json
Due: none

chore: Init lerna
  lerna.json
Due: none

chore: Lerna build
  package.json
  packages/react/package.json
  packages/utils/package.json
Due: prettier -w, eslint --fix

chore(example): Private package
  example/package.json
Due: none

docs: Readme
  example/README.md
  packages/react/README.md
  packages/utils/README.md
Due: prettier -w

chore: Lerna independent version
  lerna.json
Due: none

chore: Files
  packages/react/package.json
  packages/utils/package.json
Due: prettier -w, eslint --fix

Publish
  package-lock.json
  packages/react/package.json
  packages/utils/package.json
Due: prettier -w, eslint --fix

chore: Publish script
  package.json
Due: none

chore: Publish script remove double dash
  package.json
Due: none

chore: Publish script remove access public and add publish config to package
  package.json
  packages/react/package.json
  packages/utils/package.json
Due: prettier -w, eslint --fix

feat(utils): Dom elements
  packages/utils/src/DomElements.ts
  packages/utils/src/index.tsx
Due: prettier -w, eslint --fix

feat(react): Html props
  example/src/App.tsx
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

feat(utils): Remove dom elements
  packages/utils/src/DomElements.ts
  packages/utils/src/index.tsx
Due: prettier -w, eslint --fix

Publish
  package-lock.json
  packages/react/package.json
Due: prettier -w, eslint --fix

feat(react): Ref
  example/src/App.tsx
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

fix(react): Default user props
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix

chore: Eslint ignore dist
  packages/react/.eslintrc.js
  packages/utils/.eslintrc.js
Due: none

feat(react): Ref type
  packages/react/src/index.tsx
Due: prettier -w, eslint --fix
